<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
      http://www.springframework.org/schema/aop
	  http://www.springframework.org/schema/aop/spring-aop.xsd
	 http://www.springframework.org/schema/websocket
	 http://www.springframework.org/schema/websocket/spring-websocket-4.2.xsd
	 http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="mvcConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config.properties" />
	</bean>

	<!--websocket配置 -->
	<bean id="webSocketHandler" class="com.sunyard.cop.IF.spring.websocket.WebSocketHandler" />

	<websocket:handlers allowed-origins="*">
		<websocket:mapping path="/websocket.do" handler="webSocketHandler" />
		<websocket:handshake-interceptors>
			<bean class="com.sunyard.cop.IF.spring.websocket.WebSocketHandshakeInterceptor" />
		</websocket:handshake-interceptors>
	</websocket:handlers>
	
	<bean class="org.springframework.web.socket.server.standard.ServletServerContainerFactoryBean">
		<property name="maxTextMessageBufferSize" value="${maxTextMessageBufferSize}" />
		<property name="maxBinaryMessageBufferSize" value="${maxBinaryMessageBufferSize}" />
		<property name="maxSessionIdleTimeout" value="${maxSessionIdleTimeout}" />
		<property name="asyncSendTimeout" value="${asyncSendTimeout}" />
	</bean>
	
</beans>